footer {
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 25px;
}
#setBoxes {
  margin-left: 3%;

}
#setBoxes li {
  background-repeat:no-repeat;
  background-color:#090909;
  width: 226px;
  height: 169px;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-indent: -9999px;
}
.series1 li {
  background:url(https://s3.amazonaws.com/llamido.com/images/Art/series1.png);
}
.series2 li {
  background:url(https://s3.amazonaws.com/llamido.com/images/Art/series2.png);
}
.series3 li {
  background:url(https://s3.amazonaws.com/llamido.com/images/Art/series3.png);
}
